
ion-icon.add-icon.icon{
    position: absolute !important;
    font-size: 4em;
      z-index: 10;

  right: 0.4em;
    color: #1abc9c;
    &.icon-md.ion-md-add-circle{  
        bottom: 1em;
    }
    &.icon-ios.ion-ios-add-circle{
        bottom: 0.9em;
    }
    &.icon-wp.ion-ios-add-circle{  
        bottom: 0;
    }
}

page-list{
       .spinner-text{
        text-align: center;
        margin-top: 18em;
    }
    ion-spinner {
        position: absolute;
        top: 10em;
        right: 35%;
        width: 7em;
        height: 7em;
  stroke: #444;
  fill: #222;
    }   
    
    .empty-list{
        text-align: center;
    font-size: 2em;
    font-family: monospace;
    color: grey;
    margin-top: 50%;
    }
}
